@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kanit:wght@400;600&family=Roboto+Condensed&display=swap');

*{

    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --background: #011220;
    --accent: #2334C6

}

::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}


button{
    background: transparent;
    border:none;
}

body{
    background-color: var(--background);
}

html, body {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    overflow: -moz-scrollbars-none;  /* older Firefox */
    height: 100%;
    margin: 0;
    padding: 0;
}